/*#region Global*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel+Decorative:wght@400;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
}

::-webkit-scrollbar { 
    display: none; 
    }
/*#endregion Global*/

/*#region HideScroll*/
#HideScroll {
    overflow-x: hidden;
    overflow: hidden;
    user-select: none;
    position: relative;
}

#HideScrollVertical {
    overflow-x: hidden;
}

/*#endregion HideScroll*/

/*#region Header*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    box-shadow: 0 1px 8px #000000;
    background-color: rgb(56, 56, 56);
    z-index: 99;
    position: fixed;
    width: 30%;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.TitleHeader {
    margin-right: auto;
    font-size: 1.5em;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
}

header a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20pt;
    padding: 0;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: var(--g1);
}

li>a , .CurrentPage
 {
    font-family: 'Bebas Neue', sans-serif;
}

.CurrentPage{
    /* color: #00c3ff; */
    font-size: 24pt;
    color: var(--g1);
}

/*#endregion Header*/

/*#region Pages*/
#ProjectsPage,
#DetailPage, #AboutPage {
    background-color: #141414;
    width: 100vw;
    overflow: hidden;
    margin: 0px;
    padding-top: 70px;
    padding-bottom: 5em;
}

#DetailPage {
    padding-top: 4em;
    height: 100%;
}
#AboutPage
{
    height: 100vh;
}

#ProjectsPage {
    height: 100vh;
}

#FrontPage {
    animation: Background-Pan 10s linear infinite;
    background: linear-gradient(to right,
            var(--g1),
            var(--g2),
            var(--g1));
    background-size: 200%;

    height: 100%;
    overflow: hidden;
    margin: 0px;
}

@keyframes Background-Pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

/*#endregion Pages*/

/*#region Text Titles*/
#Title {
    color: rgb(255, 255, 255);
    /* font-family: 'Bebas Neue', sans-serif; */
    font-family: 'Space Grotesk', sans-serif;
    font-size: clamp(4rem, -0.1596rem + 11.3475vw, 10rem);
    pointer-events: none;
    transition: opacity 1200ms ease;
    width: 100vw;
    z-index: 3;
    text-align: center;
}

.Centered {
    left: 50%;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
}

/*#endregion Text Titles*/

/*#region Text and headings*/
.AboutH2 {
    color: var(--g1);
    /* margin-bottom: 1em; */
    font-weight: 400;
}

h2,
p,
a,
.Bold {
    color: white;
    font-family: 'Rubik', sans-serif;
}

.Bold {
    font-weight: bold;
    color: var(--g1);
}
.LabelText
{
    color: #000000;
}
article>p,
article>a {
    max-width: 65ch;
    margin-top: 0.5em;
    margin-right: 1em;

}

.ProjectsPageHeaderText {
    color: #ffffff;
    /* font-size: 60pt; */
    font-size: clamp(2rem, 0.4043rem + 6.8085vw, 5rem);
    font-family: 'Space Grotesk', sans-serif;
}

.ProjectsText {
    color: #ffffff;
    /* font-size: 60pt; */
    font-size: clamp(2rem, 0.4043rem + 6.8085vw, 8rem);
    position: absolute;
    top: 20%;
    text-shadow:
        3px 3px 0 #000,
        -3px 3px 0 #000,
        -3px -3px 0 #000,
        3px -3px 0 #000;
}

.TextContainer {
    display: flex;
    justify-content: center;
}



/*#endregion Text and headings*/

/*#region Tiles Main*/
/* Tiles */
#Tiles {
    height: calc(100vh - 1px);
    width: calc(100vw - 1px);
    position: relative;
    z-index: 2;

    /* background-color: #000000; */
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.Tile {
    position: relative;
}

.Tile::before {
    background-color: rgb(20, 20, 20);
    content: "";
    position: absolute;
    inset: 0.5px;
}

.Tile:hover:before {
    background-color: rgb(30, 30, 30);
}

:root {
     --g1: #b136ca;
    --g2: #1d1d1d;

    /* --g1: #00d2ff;
    --g2: #3a47d5; */

    /* --g1: #78ffd6; 
    --g2: #007991; */
    
    /* --g1: #ee0979;  
    --g2: #ff6a00; */


    /* Fall Colours */
    /* --g1: #fc4a1a;
    --g2: #f7b733; */

    /* Winter */    
    /*--g1: #6CAFD9; 
    --g2: #03588C; */

    /* Spring */
    /* --g1: #d4fc79;
    --g2: #96e6a1;  */

    /* Summer */
    /* --g1: #00c3ff;
    --g2: #ffff1c; */
}

/*#endregion Tiles Main*/

/*#region Images*/
.ProjectImage {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
}

.ProjectImages {
    width: 40vmin;
    height: 56vmin;
    object-position: 100% center;
    border: white 4px solid;
}

.ProjectImage,
.ProjectImages {
    border-radius: 10px;
}

#ItemContainer {
    display: flex;
    gap: 10vmin;
    /* position: absolute; */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}

.ImageWithTextContainer {
    display: flex;
    flex-direction: row;
    gap: 5em;
    margin-top: 1em;
}

.PageImage {
    width: 70vmin;
    height: 56vmin;
    margin-left: 15em;
    object-fit: cover;
}

.HeroBanner {
    height: 20em;
    margin: 0;
    width: 100%;
    object-fit: cover;
    top: 0;
    position: relative;
}

.SwipeIndicator
{
    position:fixed;
    bottom:0px;
    left:50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    height: 4em;
    margin-bottom: 4em;
    opacity: 0.1;
}

.Label
{
    position: relative;
    background-color: #ffffff;
    width: 100%;
    height: 10%;
    z-index: 999999;
    bottom: 55px;
    
}
/*#endregion Images*/

/*#region MediaQuery*/
@media only screen and (max-width: 1300px) {
    .ImageWithTextContainer {
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .PageImage {
        margin: 0;
    }

    .ProjectImage,
    .ProjectImages {
        width: 70vmin;
        height: 80vmin;
    }

    .HeroBanner {
        height: 10em;
    }

    .ImageWithTextContainer>article {
        padding-left: 1em;
        padding-right: 1em;
    }

    .ProjectsText,
    .AboutWithSocialMedia {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    .Icon {
        width: 15em;
    }
    
    header{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 50px;
        box-shadow: 0 1px 8px #000000;
        background-color: rgb(56, 56, 56);
        z-index: 99;
        position: fixed;
        width: 100%;
        margin-top: 0;
        border-radius: 0;
    }

    .CallToActionMain
    {
        padding: 1rem 1rem !important;
    }

    #AboutPage{
        height: 100%;
    }
}

/*#endregion MediaQuery*/

/*#region Buttons*/
.CallToActionMain {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #383838;
    height: fit-content;
    text-align: center;
    outline: solid 2px white;

    display: inline-block;
    border: none;
    padding: 2rem 2rem;
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    
    border-radius: 50px;
}

.CTA-H2 {
    font-size: clamp(1.5rem, 2.2203rem + -3.0733vw, 0.14583125rem);
}

.CallToActionMain:hover,
.CallToActionMain:focus {
    animation: Background-Pan 10s linear infinite;
    background: linear-gradient(to right,
            var(--g1),
            var(--g2),
            var(--g1));
    background-size: 500%;
    ;
    background-color: #00c3ff;
}

.CallToActionMain:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

/*#endregion Buttons*/

/*#region SocialMedia*/

.AboutWithSocialMedia {
    display: flex;
    flex-direction: column;
}

.SocialMediaButtons {
    padding-top: 5em;
}

.fa {
    padding: 20px;
    margin-right: 10px;
    font-size: 3em;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter,
.fa-linkedin,
.fa-envelope, 
.fa-file, .fa-github{
    background: #ffffff;
    color: rgb(0, 0, 0);
}

/* #endregion SocialMedia */

/*#region Frontpage*/
/* #FrontPage.toggled {
    animation: none;
} */

#FrontPage.toggled>#Title {
    opacity: 0;
}

#FrontPage.toggled>.Icon {
    opacity: .5;
}

#FrontPage.toggled>#Tiles>.Tile:hover {
    opacity: 0.1 !important;
}

.Icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45em;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1200ms ease;
    z-index: 1;
}

.TextEffect {
    position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
/*#endregion Frontpage*/